/* Colors */
:root {
    --color-white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* General styles */
html {
    font-size: 62.5%; /* 10px - for easier calculations */
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
}

@media only screen and (max-width: 375px) {
    
}